*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
}
body{
    font-family:cursive;
    font-weight:300;
    line-height:1.4;
    scroll-behavior: smooth;
    font-size:1.6rem;
    /*padding:0 60px;*/

}
ul{
    list-style:none;

}
a{
    text-decoration:none;
    color:white

}
.container{
    max-width: 1200px;
    margin:0 auto;
}
header{
    background-color: rgb(89, 58, 181);
    position:sticky;
    top:0;
    z-index:100;
    box-shadow:5px 5px 5px black;

}
nav{
    display:flex;
    justify-content:space-between;
    color:white;
    align-items:center;
    padding:20px 0;

}
.logo{
    font-size:32px;
    font-weight:600;
}
nav ul{
    display:flex;
    gap:20px
}
nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
}
nav ul li:hover{
    border-bottom: 2px solid white;
    transition: 0.2s ease-in-out;

}
.hero_section{
    background-image:url(hero_image.png);
    height:100vh;
    display:grid;
    color:white;
    place-items:center;
    text-align:center;
    /*background-repeat:no-repeat;*/
   


}
.hero_section .container{
    display:flex;
    flex-direction:column;
    gap:30px;

}
.hero_section h1{
    font-size:96px;
}
.hero_section h3{
    font-size:32px;
}
.music_section{
    padding-top:50px;
    background:#281154;

}
.music_section .container{
    display:flex;
    flex-direction:column;
    gap:30px;
    justify-content: center;
    align-items: center;
    color:white;
}
.ipad-iphone-img{
    margin-top:-400px;
    position:relative;
    top:400px;
}
button{
    padding:10px 15px;
    border:none;
    transition: 0.2s ease-in-out;

}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;}
.primary-btn{
    background-color: red;
    color:white;
}
.secondary-btn{
    background-color: #4c0bc4;
    color:white;
}
.about-music{
    padding-top:500px;
    display:grid;
    place-items:center;
    gap:50px;
    text-align:center;
    margin-bottom:50px;
}
.video-section{
    background-image: url(video.png);
    min-height:700px;
    display:grid;
    place-items:center;
    color:white;
    text-align:center;
}
.video-section  .container{
    display:flex;
    flex-direction:column;
    gap:30px;
    margin-top:-200px;
}
.gift-section{
    display:flex;
    justify-content:center;
    margin:100px 0;
    gap:50px;
}
.gift-content{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.footer-upper{
    background-color:#3e0a9f;
    padding:20px;
}
.footer-upper .container{
    display:flex;
    color:white;
    justify-content:space-between;
}
.footer-upper h4{
    padding-bottom:10px;
    border-bottom:2px solid white;
    margin-bottom:10px;
}
.footer-lower{
    background-color:rgb(71, 72, 72);
    padding:20px;
    display:flex;
    justify-content: center;
    color:white;
}
section{
    scroll-margin:50px;
   
}
.gift-section{
    scroll-margin:120px;
}
.menu_bar 
{
    display:none;
}
@media(max-width:1024px){
    .ipad-iphone-img  img ,.mac-img  img{
        max-width:100%; 
         
    }
}
@media(max-width:768px)
{
    html 
    {
        font-size:50%;
    }
  nav ul
    {
        display:none;
    }
    .menu_bar
    {
        display: block;
    }
  .menu_bar i
  {
    font-size:20px;
  }
  nav
  {
    padding:0 15px;
  }
  .footer-upper .container{
    flex-wrap:wrap;
    gap:20px;
    row-gap:10px;

  }
  .gift-card img{
    width:40rem;
     
  }
  
 
}
   



